<h1>child to parent</h1>

<app-child (emitter)="notify($event)"></app-child> 

<h1>student form</h1>
<form [formGroup]="studentForm" (ngSubmit)="addUser()">
  <div>
    <label>name</label>
    <input formControlName="name" />
  </div>
  <div>
    <label>id</label>
    <input formControlName="id" type="number" />
  </div>
  <div>
    <label>phone</label>
    <input formControlName="phone" type="number" />
  </div>
  <button type="submit">submit</button>
</form>

<hr />

<table  border="1" *ngIf="students.length">
  <thead>
    <th>name</th>
    <th>id</th>
    <th>phone</th>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.id }}</td>
      <td>{{ student.phone }}</td>
    </tr>
  </tbody>
</table>
